{
  "openapi": "3.1.0",
  "info": {
    "title": "Zernio API",
    "version": "1.25.1"
  },
  "servers": [
    {
      "url": "https://zernio.com/api",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/accounts": {
      "get": {
        "x-resource-group": "accounts",
        "operationId": "listAccounts",
        "tags": [
          "Accounts"
        ],
        "summary": "List accounts",
        "description": "Returns connected accounts. Only includes accounts within the plan limit by default. Follower data requires analytics add-on.\nSupports optional server-side pagination via page/limit params. When omitted, returns all accounts (backward-compatible).\npage and limit must be supplied together; out-of-range page/limit values are rejected with 400 rather than silently clamped.\n",
        "parameters": [
          {
            "name": "profileId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter accounts by profile ID. Must be a valid ObjectId."
          },
          {
            "name": "platform",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter accounts by platform (e.g. \"instagram\", \"twitter\")."
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "connected",
                "disconnected"
              ]
            },
            "description": "Filter accounts by connection status. `connected` returns healthy accounts; `disconnected` returns accounts that need reconnection (per the same reconnection check surfaced in the dashboard). Omit to return accounts in any status. When combined with page/limit, pagination totals reflect the filtered result set.\n"
          },
          {
            "name": "includeOverLimit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "When true, includes accounts from over-limit profiles."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Page number (1-based). Must be provided together with limit to enable server-side pagination; sending only one of the two returns 400. Omit both for all accounts.\n"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Page size. Must be provided together with page; sending only one of the two returns 400.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Accounts (with optional pagination)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsListResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "accounts": [
                        {
                          "_id": "64e1...",
                          "platform": "twitter",
                          "profileId": {
                            "_id": "64f0...",
                            "name": "My Brand",
                            "slug": "my-brand"
                          },
                          "username": "@acme",
                          "displayName": "Acme",
                          "profileUrl": "https://x.com/acme",
                          "isActive": true
                        }
                      ],
                      "hasAnalyticsAccess": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "503": {
            "$ref": "#/components/responses/TemporarilyUnavailable"
          }
        }
      }
    },
    "/v1/accounts/{accountId}": {
      "put": {
        "x-resource-group": "accounts",
        "operationId": "updateAccount",
        "tags": [
          "Accounts"
        ],
        "summary": "Update account",
        "description": "Updates a connected account's display name or username override.\n\nFor X accounts on usage-based billing, also accepts an `xCapabilities`\nobject to toggle background API operations that incur X API pass-through costs.\nBoth fields are opt-in (default `false`). When off, no analytics syncs or DM\npolling are performed for that account, and no API call is metered for those\noperations. Publishing and deleting posts are always available regardless of\nthese toggles. Setting `xCapabilities` on a non-X account returns 400.\n",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "displayName": {
                    "type": "string"
                  },
                  "xCapabilities": {
                    "type": "object",
                    "description": "X only. Per-account opt-in toggles for background API\noperations that incur X API pass-through costs. Each call is\nbilled at the X tier rate. Either field can be\nsent independently; omitted fields are unchanged.\n",
                    "properties": {
                      "analytics": {
                        "type": "boolean",
                        "description": "Enable periodic analytics reads (impressions, likes, etc.)\nfor this X account. Each X API call is metered as\n`posts_read` and billed pass-through (~$0.005/call at the\ntime of writing; the actual rate depends on X's pricing tier).\n"
                      },
                      "inbox": {
                        "type": "boolean",
                        "description": "Enable DM polling and inbox sync for this X account. DM\nreads are metered as `dm_event_read` (~$0.010/call) and\nDM sends as `dm_interaction_create` (~$0.015/call), both\nbilled pass-through. DM sends fire only on user-initiated\nactions; reads/polling fire only when this flag is true.\n"
                      }
                    }
                  }
                }
              },
              "example": {
                "displayName": "Acme Corporation Official",
                "xCapabilities": {
                  "analytics": true,
                  "inbox": false
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "username": {
                      "type": "string"
                    },
                    "displayName": {
                      "type": "string"
                    },
                    "xCapabilities": {
                      "type": "object",
                      "description": "Echo of the resulting `xCapabilities` state, returned only\nwhen the request body included an `xCapabilities` object.\n",
                      "properties": {
                        "analytics": {
                          "type": "boolean"
                        },
                        "inbox": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Account updated successfully",
                  "username": "@acmecorp",
                  "displayName": "Acme Corporation Official",
                  "xCapabilities": {
                    "analytics": true,
                    "inbox": false
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (e.g. xCapabilities on a non-X account)"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "x-resource-group": "accounts",
        "operationId": "moveAccountToProfile",
        "tags": [
          "Accounts"
        ],
        "summary": "Move account to another profile",
        "description": "Moves a connected account to a different profile owned by the same\nuser. The target profile must belong to the same user as the account.\n\nFor API keys restricted to specific profiles, BOTH the source account's\ncurrent profile AND the target profile must be in the key's allowed set.\nCalls with a target profile outside the key's scope return 403.\n",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "profileId"
                ],
                "properties": {
                  "profileId": {
                    "type": "string",
                    "description": "Target profile ID (must be a valid ObjectId and owned by the same user as the account)."
                  }
                }
              },
              "example": {
                "profileId": "65f1a2b3c4d5e6f7a8b9c0d1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account moved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "profileId": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Account updated successfully",
                  "profileId": "65f1a2b3c4d5e6f7a8b9c0d1"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid profileId"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "API key does not have access to the source account or target profile"
          },
          "404": {
            "description": "Account or target profile not found"
          }
        }
      },
      "delete": {
        "x-resource-group": "accounts",
        "operationId": "deleteAccount",
        "tags": [
          "Accounts"
        ],
        "summary": "Disconnect account",
        "description": "Disconnects and removes a connected account. Repeating the call for an account already disconnected returns 404, the account stays in its 1h grace window and the disconnect is not re-run.",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Disconnected",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Account disconnected successfully"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/profiles": {
      "get": {
        "x-resource-group": "accounts",
        "operationId": "listProfiles",
        "tags": [
          "Profiles"
        ],
        "summary": "List profiles",
        "description": "Returns profiles sorted default-first, then by creation date. Filter with name (exact match) and paginate with limit/skip; without those params the full list is returned unchanged. Use includeOverLimit=true to include profiles that exceed the plan limit.",
        "parameters": [
          {
            "name": "includeOverLimit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "When true, includes over-limit profiles (marked with isOverLimit: true)."
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Exact-match filter on the profile name. Useful to recover a profile id after an ambiguous create (timeout followed by a 409 on retry)."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            },
            "description": "Page size. When limit or skip is present, the response includes total and skip (and echoes limit)."
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "description": "Number of profiles to skip, applied after sorting and filtering."
          }
        ],
        "responses": {
          "200": {
            "description": "Profiles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfilesListResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "profiles": [
                        {
                          "_id": "64f0...",
                          "name": "Personal Brand",
                          "color": "#ffeda0",
                          "isDefault": true
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "x-resource-group": "accounts",
        "operationId": "createProfile",
        "tags": [
          "Profiles"
        ],
        "summary": "Create profile",
        "description": "Creates a new profile with a name, optional description, and color. Names are unique per team: a duplicate returns a 409 whose details.existingProfileId carries the id of the existing profile. Send an Idempotency-Key header to make retries safe: a retried create with the same key and body replays the original 201 (same _id) instead of conflicting.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "color": {
                    "type": "string",
                    "example": "#ffeda0"
                  }
                }
              },
              "example": {
                "name": "Marketing Team",
                "description": "Profile for marketing campaigns",
                "color": "#4CAF50"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileCreateResponse"
                },
                "example": {
                  "message": "Profile created successfully",
                  "profile": {
                    "_id": "64f0a1b2c3d4e5f6a7b8c9d0",
                    "userId": "6507a1b2c3d4e5f6a7b8c9d0",
                    "name": "Marketing Team",
                    "description": "Profile for marketing campaigns",
                    "color": "#4CAF50",
                    "isDefault": false,
                    "createdAt": "2024-11-01T10:00:00Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "description": "Profile limit exceeded"
          },
          "409": {
            "description": "A profile with this name already exists (code: profile_name_conflict); details.existingProfileId carries the id of the existing profile. Also returned while a request with the same Idempotency-Key is still processing."
          },
          "422": {
            "$ref": "#/components/responses/IdempotencyKeyReused"
          }
        }
      }
    },
    "/v1/connect/{platform}": {
      "get": {
        "x-resource-group": "accounts",
        "operationId": "getConnectUrl",
        "tags": [
          "Connect"
        ],
        "summary": "Get OAuth connect URL",
        "description": "Initiate an OAuth connection flow. Returns an authUrl to redirect the user to.\nStandard flow: Zernio hosts the selection UI, then redirects to your redirect_url. Headless mode (headless=true): user is redirected to your redirect_url with OAuth data for custom UI. Use the platform-specific selection endpoints to complete.\n\nTikTok: every connection now goes through the TikTok for Business app. One TikTok account per\nprofile, so connecting on a profile that already holds one replaces it. Reconnecting the SAME\naccount keeps it and all of its history; authorizing a DIFFERENT TikTok account takes the slot\nover and permanently deletes the previous account's analytics, inbox and DM history. The two\nare told apart by the `@handle` stored at the last connect, so an account whose handle has\nbeen renamed on TikTok since then reads as a different account. An authorization that leaves\nout a permission the connected account needs changes nothing at all and comes back as\n`missing_tiktok_permissions`; connect again and accept every permission on TikTok's screen.\n",
        "parameters": [
          {
            "name": "platform",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "facebook",
                "instagram",
                "linkedin",
                "twitter",
                "tiktok",
                "youtube",
                "threads",
                "reddit",
                "pinterest",
                "bluesky",
                "googlebusiness",
                "telegram",
                "snapchat",
                "discord",
                "slack",
                "whatsapp"
              ]
            },
            "description": "Social media platform to connect. `snapchat` is a closed beta with no public release date: it returns 403 `PLATFORM_BETA_RESTRICTED` until the account is approved."
          },
          {
            "name": "profileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your Zernio profile ID (get from /v1/profiles). For WhatsApp, a Zernio-provisioned number can only be connected on the profile it was provisioned to; connecting from any other profile is rejected with a 409."
          },
          {
            "name": "redirect_url",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "Your custom redirect URL after connection completes. MUST be an absolute http(s) URL or a custom app scheme for mobile deeplinks (e.g. myapp://callback); a relative path is rejected with 400 INVALID_REDIRECT_URL. Result params are appended with the URL API, so an existing query string is preserved. Standard mode appends connected={platform}&profileId=X&accountId=Y&username=Z. Headless mode appends OAuth data params for platforms requiring selection (e.g. LinkedIn orgs, Facebook pages). If no selection is needed, the account is created directly and the redirect includes accountId.\n\nOn failure, the browser is sent to the same redirect_url with `error` and `platform` appended.\n`error` and `platform` are always present. `error_message`, `is_user_fixable`, `reason` and\n`dashboard_url` are conditional and must be treated as optional.\n\nThis list is NOT exhaustive and new values may be added at any time. Treat an unrecognized\nvalue as a generic failure rather than matching it exhaustively. Existing values are not\nrenamed or removed without notice.\n\nOAuth and callback:\n  oauth_denied, invalid_callback, invalid_state, unsupported_platform, connection_failed,\n  internal_error, token_exchange_failed, byok_config_error, personal_account_not_supported,\n  missing_google_permissions, missing_tiktok_permissions, platform_requires_destination,\n  reconnect_account_mismatch, invalid_request\n\nAccess and limits:\n  profile_not_found, invalid_profile_id, access_denied, account_limit_exceeded,\n  profile_limit_exceeded, payment_required\n\nDestination selection:\n  no_facebook_pages, facebook_pages_error, no_google_locations, google_locations_error,\n  google_permission_denied, no_snapchat_public_profiles, snapchat_profiles_error,\n  discord_no_guild, slack_no_team\n\nWhatsApp:\n  whatsapp_error, one_whatsapp_per_profile, whatsapp_number_already_connected,\n  whatsapp_number_pinned_to_profile, whatsapp_coexistence_not_registered, connection_cancelled\n\nGoogle Ads (platform=googleads):\n  google_ads_auth_failed, google_ads_invalid_state, google_ads_config_error,\n  google_ads_token_failed, google_ads_quota_exhausted, google_ads_callback_error\n\nTikTok Ads (platform=tiktokads):\n  tiktok_ads_auth_failed, tiktok_ads_invalid_state, tiktok_ads_access_denied,\n  tiktok_ads_config_error, tiktok_ads_token_failed, tiktok_ads_account_not_found,\n  tiktok_ads_callback_error\n\nX Ads (platform=xads):\n  x_ads_denied, x_ads_auth_failed, x_ads_config_error, x_ads_account_not_found,\n  x_ads_state_error, x_ads_token_failed, x_ads_token_missing, x_ads_callback_error\n\nShopify (platform=shopify):\n  shopify_auth_failed, shopify_config_error, shopify_invalid_state, shopify_invalid_hmac,\n  shopify_invalid_shop, shopify_missing_scopes, shopify_callback_error\n\n1. On this endpoint every upstream OAuth error is collapsed into `oauth_denied`. The\nprovider's own value (for example Meta's `access_denied`) is not forwarded. The dedicated\nads flows below are different: they use their own denial slugs and `google_ads_auth_failed`\nand `tiktok_ads_auth_failed` may carry the provider's raw error string in `error_message`.\n\n2. On the tiktok and twitter ads flows `platform` carries the ads platform id\n(`tiktokads`, `xads`), not the value used in the request path. The googleads and shopify\nflows report `googleads` and `shopify`.\n\n3. `missing_tiktok_permissions` means the TikTok authorization left out a permission the\nalready-connected account needs, so nothing was changed and it keeps working as before.\nIt is user-fixable: connect again and accept every permission on TikTok's screen.\n"
          },
          {
            "name": "headless",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "When true, the user is redirected to your redirect_url with raw OAuth data (code, state) instead of Zernio's default account selection UI. Use this to build a custom connect experience."
          },
          {
            "name": "loginMethod",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "instagram_login",
                "facebook_login"
              ],
              "default": "instagram_login"
            },
            "description": "Instagram only. Which of the two Instagram connection methods to use. Ignored for every other platform.\n\n`instagram_login` (the default, and what you get if you omit this): the Instagram Login dialog. The user authorizes their Instagram professional account directly, no Facebook Page required.\n\n`facebook_login`: the Facebook Login dialog, i.e. \"Instagram API with Facebook Login\". The user authorizes a Facebook Page that has a linked Instagram professional account, and every API call for that account then runs through the Page. Use this when the customer manages Instagram through a Page and expects the Facebook consent screen. Because the user has to pick which Page to connect, the callback continues at the account-selection step, `/v1/connect/instagram/select-account`.\n\n`facebook_login` supports `headless=true` like the other selection platforms: the callback redirects to your `redirect_url` with `profileId`, `tempToken`, `platform=instagram`, `step=select_account` and `connect_token`, which you pass into the select-account endpoints to finish. The default `instagram_login` has no selection step, so it connects the account directly.\n"
          },
          {
            "name": "onboarding",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "api",
                "business_app"
              ]
            },
            "description": "WhatsApp only. Ignored for every other platform. Controls which screen Meta's Embedded Signup popup shows.\n\nIf omitted, the connection defaults to coexistence (same as `business_app` below), preserving existing behavior for numbers already on the WhatsApp Business app.\n\n`api`: standard Embedded Signup, showing Meta's WABA/number picker. Use this to connect a phone number already on Cloud API elsewhere.\n\n`business_app`: coexistence, i.e. 'Connect existing WhatsApp Business app' (a number shared between Cloud API and the consumer WhatsApp Business app).\n"
          },
          {
            "name": "signup",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "hosted"
              ]
            },
            "description": "WhatsApp only. Rejected with 400 `INVALID_FIELD_VALUE` on any other platform.\n\n`hosted`: `authUrl` points at a Zernio-hosted page on zernio.com instead of Meta's OAuth dialog, and\nthe response carries `authUrl` only (no `state`). That page opens Meta's Embedded Signup popup itself,\nso it learns which WhatsApp Business Account and number the user picked inside the popup and connects\nexactly that one. Use it when your users' Facebook logins manage several WhatsApp accounts: on the\ndefault redirect flow Meta only returns an authorization code, so when that login can see more than\none number the user lands on Zernio's number picker and has to choose again. Nothing to embed on your\nside and no domain setup: send the user to `authUrl`, and they come back to `redirect_url` with the\nsame params as the redirect flow. Success: `connected=whatsapp`, `profileId`, `accountId`, `username`\n(plus `connect_token` for API-key callers). Failure: `error` and `platform=whatsapp`, with the same\nvalues and extras as the redirect flow (`one_whatsapp_per_profile`, `whatsapp_number_already_connected`,\n`whatsapp_number_pinned_to_profile` and `whatsapp_coexistence_not_registered` with `is_user_fixable=true`; `payment_required` with `reason`\nand `dashboard_url`; `whatsapp_error` with `error_message` when Meta reported one), plus two of its own:\n`connection_cancelled` when the popup was closed before finishing (`error_message` carries Meta's last\nreported step or error when there is one) and `session_expired` when the user took longer than the\n60 minute window the hosted page is valid for; restart the flow with a new call in that case.\n`onboarding` is carried through and a pre-verified Zernio-provisioned number is attached like on the\nredirect flow. `headless` has no effect here because there is no selection step left to hand you.\nWhen a previously disconnected account for this profile can simply be re-enabled, this endpoint\nre-enables it and returns the account directly instead of a URL, exactly like the redirect flow.\nThe page shows the same guidance as the Zernio dashboard: a pre-verified Zernio-provisioned number is\ncalled out by name (\"choose it in Meta's list, no code will be asked\"), coexistence and standard signups\nget their explainer video, and a step-by-step follow-along checklist stays visible while Meta's popup is\nopen. Skin it with `brandName`, `primaryColor` and `language` below.\n"
          },
          {
            "name": "brandName",
            "in": "query",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 60
            },
            "description": "Hosted signup page only (`signup=hosted`, WhatsApp): name shown in the page title (\"Connect your WhatsApp number to <brandName>\") instead of Zernio. The Zernio logo stays: the page is co-branded, not white-label. Trimmed; 1 to 60 characters. Rejected with 400 `INVALID_FIELD_VALUE` without `signup=hosted`. Stored on the signup session at issue time, so the page URL cannot change it."
          },
          {
            "name": "primaryColor",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^#[0-9a-fA-F]{6}$"
            },
            "description": "Hosted signup page only (`signup=hosted`, WhatsApp): hex colour (`#RRGGBB`) for the primary button and step accents. Validated server-side; anything else is a 400 `INVALID_FIELD_VALUE`. Rejected without `signup=hosted`."
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "es"
              ]
            },
            "description": "Hosted signup page only (`signup=hosted`, WhatsApp): language of the page and its follow-along guide. Explainer videos stay in English. Default `en`. Rejected without `signup=hosted`."
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OAuth authorization URL to redirect user to",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "authUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL to redirect your user to for OAuth authorization"
                    },
                    "state": {
                      "type": "string",
                      "description": "State parameter for security (handled automatically)"
                    }
                  }
                },
                "example": {
                  "authUrl": "https://www.facebook.com/v21.0/dialog/oauth?client_id=...",
                  "state": "user123-profile456-1234567890-https://yourdomain.com/callback"
                }
              }
            }
          },
          "400": {
            "description": "Missing/invalid parameters (e.g., invalid profileId format, or a non-absolute redirect_url)"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "description": "No access to profile, BYOK required for AppSumo X, or Snapchat closed beta (code PLATFORM_BETA_RESTRICTED)"
          },
          "404": {
            "description": "Profile not found"
          }
        }
      },
      "post": {
        "x-resource-group": "accounts",
        "operationId": "handleOAuthCallback",
        "tags": [
          "Connect"
        ],
        "summary": "Complete OAuth callback",
        "description": "Exchange the OAuth authorization code for tokens and connect the account to the specified profile.\n\nFacebook, Google Business Profile, Snapchat and WhatsApp are not accepted here: their account identity is a destination chosen after OAuth, which this single-shot exchange cannot do. Connect them through the redirect flow from `GET /v1/connect/{platform}`, or, for WhatsApp Embedded Signup, through `POST /v1/connect/whatsapp/embedded-signup`.\n",
        "parameters": [
          {
            "name": "platform",
            "in": "path",
            "required": true,
            "description": "Social platform to complete the connect for. Discord, Slack and Telegram are absent because they are\nserved by their own dedicated routes, documented separately.\n",
            "schema": {
              "type": "string",
              "enum": [
                "instagram",
                "twitter",
                "threads",
                "linkedin",
                "youtube",
                "tiktok",
                "reddit",
                "pinterest"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code",
                  "state",
                  "profileId"
                ],
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "profileId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account connected"
          },
          "400": {
            "description": "Invalid params, or the platform requires choosing a destination (code: platform_requires_destination)"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "description": "No access to the profile, or BYOK required for AppSumo X"
          },
          "404": {
            "description": "Profile not found"
          },
          "500": {
            "description": "Internal error while connecting the account"
          },
          "502": {
            "description": "The platform rejected the token exchange (type: platform_error; an upstream 4xx status is forwarded instead of 502)"
          },
          "503": {
            "description": "Connections for this platform are temporarily disabled (code: platform_disabled)"
          }
        }
      }
    },
    "/v1/posts": {
      "get": {
        "x-resource-group": "publishing",
        "operationId": "listPosts",
        "tags": [
          "Posts"
        ],
        "summary": "List posts",
        "description": "Returns a paginated list of posts. Published posts include platformPostUrl with the public URL on each platform.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 10
            },
            "description": "Page size. Values above the maximum return 400 rather than being clamped."
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "zernio",
                "external"
              ],
              "default": "zernio"
            },
            "description": "Which collection to read. `zernio` (default) returns posts authored through Zernio. `external` returns posts synced from the platform (existing/historical posts that were published outside Zernio). Combine with `accountId` and paginate via `page`/`limit` to walk the full synced history (we keep up to the last ~12 months per account)."
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "scheduled",
                "publishing",
                "published",
                "partial",
                "failed",
                "cancelled"
              ]
            }
          },
          {
            "name": "platform",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "twitter"
            }
          },
          {
            "name": "profileId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter posts to a specific profile (24-char hex ObjectId). Omit it, or send `all` or an empty value, to list posts across every profile."
          },
          {
            "name": "createdBy",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter posts to those created by a specific team user (24-char hex ObjectId)."
          },
          {
            "name": "dateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Zero-padded YYYY-MM-DD, or a full ISO 8601 datetime. An empty value means no date filter; any other malformed value returns 400."
          },
          {
            "name": "dateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Zero-padded YYYY-MM-DD, or a full ISO 8601 datetime. An empty value means no date filter; any other malformed value returns 400."
          },
          {
            "name": "includeHidden",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search posts by text content."
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "scheduled-desc",
                "scheduled-asc",
                "created-desc",
                "created-asc",
                "status",
                "platform"
              ],
              "default": "scheduled-desc"
            },
            "description": "Sort order for results."
          },
          {
            "name": "accountId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter posts to those published via a specific account (24-char hex ObjectId)."
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated posts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostsListResponse"
                },
                "examples": {
                  "scheduledPost": {
                    "summary": "Scheduled post (pending publish)",
                    "value": {
                      "posts": [
                        {
                          "_id": "65f1c0a9e2b5af0012ab34cd",
                          "title": "Launch post",
                          "content": "We just launched!",
                          "status": "scheduled",
                          "scheduledFor": "2024-11-01T10:00:00Z",
                          "timezone": "UTC",
                          "platforms": [
                            {
                              "platform": "twitter",
                              "accountId": {
                                "_id": "64e1f0...",
                                "platform": "twitter",
                                "username": "@acme",
                                "displayName": "Acme Corp",
                                "isActive": true
                              },
                              "status": "pending"
                            }
                          ],
                          "tags": [
                            "launch"
                          ],
                          "createdAt": "2024-10-01T12:00:00Z",
                          "updatedAt": "2024-10-01T12:00:00Z"
                        }
                      ],
                      "pagination": {
                        "page": 1,
                        "limit": 10,
                        "total": 1,
                        "pages": 1
                      }
                    }
                  },
                  "publishedPost": {
                    "summary": "Published post with platformPostUrl",
                    "value": {
                      "posts": [
                        {
                          "_id": "65f1c0a9e2b5af0012ab34cd",
                          "title": "Launch post",
                          "content": "We just launched!",
                          "status": "published",
                          "scheduledFor": "2024-11-01T10:00:00Z",
                          "publishedAt": "2024-11-01T10:00:05Z",
                          "timezone": "UTC",
                          "platforms": [
                            {
                              "platform": "twitter",
                              "accountId": {
                                "_id": "64e1f0a9e2b5af0012ab34de",
                                "platform": "twitter",
                                "username": "@acmecorp",
                                "displayName": "Acme Corporation",
                                "isActive": true
                              },
                              "status": "published",
                              "publishedAt": "2024-11-01T10:00:05Z",
                              "platformPostId": "1852634789012345678",
                              "platformPostUrl": "https://twitter.com/acmecorp/status/1852634789012345678"
                            },
                            {
                              "platform": "linkedin",
                              "accountId": {
                                "_id": "64e1f0a9e2b5af0012ab34ef",
                                "platform": "linkedin",
                                "username": "acme-corporation",
                                "displayName": "Acme Corporation",
                                "isActive": true
                              },
                              "status": "published",
                              "publishedAt": "2024-11-01T10:00:06Z",
                              "platformPostId": "urn:li:share:7123456789012345678",
                              "platformPostUrl": "https://www.linkedin.com/feed/update/urn:li:share:7123456789012345678"
                            }
                          ],
                          "tags": [
                            "launch"
                          ],
                          "createdAt": "2024-10-01T12:00:00Z",
                          "updatedAt": "2024-11-01T10:00:06Z"
                        }
                      ],
                      "pagination": {
                        "page": 1,
                        "limit": 10,
                        "total": 1,
                        "pages": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "x-resource-group": "publishing",
        "operationId": "createPost",
        "tags": [
          "Posts"
        ],
        "summary": "Create post",
        "description": "Create a post, and optionally publish it in the same request. A post published immediately (`publishNow: true`) comes back with `platformPostUrl` in the response.\n\n`content` is optional in four cases:\n\n- media is attached\n- all platforms have `customContent`\n- every platform entry is an X Article (`platformSpecificData.article`)\n- every platform entry is a LinkedIn text-free reshare (`platformSpecificData.reshareUrl` with no text)\n\nSee each platform's schema for media constraints.\n\n## Scheduling\n\nPick one of:\n\n- `scheduledFor`: publish at the scheduled time\n- `publishNow: true`: publish synchronously, inside this request\n- `queuedFromProfile`: publish in the profile's next queue slot\n\nWith none of them and `isDraft` unset, the post is saved as a draft. `platforms` is required unless the post is a draft.\n\nPrecedence: `isDraft: true` wins over `publishNow` and `scheduledFor` (the post is saved, never published), and `publishNow: true` wins over `scheduledFor`. A `scheduledFor` already in the past is not rejected: the post is published synchronously in the same request, exactly like `publishNow`.\n\n## Idempotency\n\nTwo layers of duplicate-protection apply, so safe-to-retry callers (network blips, n8n / Zapier retries, etc.) don't accidentally double-post.\n\n**1. Same-request idempotency (5-minute window).**\nPass an `x-request-id` header to mark a logical request. If a second request arrives with the same `x-request-id` while the first is in-flight (or within ~5 minutes of completion), we return **HTTP 200** with the original post in the `existingPost` field, and no new post is created.\n\nThe official Zernio SDKs auto-generate a unique `x-request-id` per call. On a generic HTTP client (curl, n8n's HTTP node, Zapier, custom code), either:\n\n- Set a unique `x-request-id` per logical call (recommended, UUIDv4 is fine)\n- Or omit the header, and we'll treat each request as new\n\n**Common pitfall**: if your workflow tool uses a single execution-level request ID and reuses it across multiple HTTP nodes (e.g. one ID for the whole run, shared across 6 different platform calls), every call after the first will look like a retry of the first and return its post. Generate a fresh ID per node.\n\n**2. Content-hash dedup (24-hour window).**\nIndependently, we hash `(platform, accountId, content + media URLs)` and reject duplicates within 24 hours with **HTTP 409**. This catches genuine \"same content posted twice to the same account\" cases regardless of `x-request-id`. The response carries `error`, `accountId`, `platform`, and `existingPostId` so you can find the original.\n\nTo intentionally re-post identical content within 24h, change something (the caption, the media, the account), because the dedup is keyed on the full content fingerprint.\n\nOrder: same-`x-request-id` retries (200) are checked first; if no idempotency match, the content-hash dedup (409) runs.\n",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Optional client-generated request identifier for safe retry (idempotency). When two requests carry the same value, the second is treated as a retry of the first and returns the original post (HTTP 200) instead of creating a duplicate. Window is ~5 minutes from the first request. Generate a UUID per logical call. SDKs do this automatically; HTTP clients should set it themselves or omit it. See the operation description for the full idempotency contract.\n"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Stored on the post for reference/display only. This field is NOT used as the video title when publishing. To set a YouTube video title, use platformSpecificData.title on the youtube platform target (falls back to the first line of content when omitted)."
                  },
                  "content": {
                    "type": "string",
                    "description": "Post caption/text. Optional when media is attached, all platforms have customContent, every platform entry is an X Article (platformSpecificData.article), or every platform entry is a LinkedIn text-free reshare (platformSpecificData.reshareUrl with no text). Required for other text-only posts."
                  },
                  "mediaItems": {
                    "type": "array",
                    "description": "Media attached to every platform in the request (a platform entry can override it with `customMedia`). Each entry needs a publicly reachable HTTPS `url`; `type` (image, video, gif, document) is inferred from the URL extension when omitted and a `type` that contradicts the extension is rejected with 400. Upload files with `POST /v1/media/presign` first; per-platform size, duration and format limits are listed on each platform schema.",
                    "items": {
                      "$ref": "#/components/schemas/MediaItem"
                    }
                  },
                  "platforms": {
                    "type": "array",
                    "description": "Target platforms and accounts for this post. Required for non-draft posts (returns 400 if empty). Drafts can omit platforms.",
                    "items": {
                      "type": "object",
                      "required": [
                        "platform",
                        "accountId"
                      ],
                      "properties": {
                        "platform": {
                          "type": "string",
                          "example": "twitter"
                        },
                        "accountId": {
                          "type": "string"
                        },
                        "customContent": {
                          "type": "string",
                          "description": "Platform-specific text override. When set, this content is used instead of the top-level post content for this platform. Useful for tailoring captions per platform (e.g. keeping tweets under 280 characters)."
                        },
                        "customMedia": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/MediaItem"
                          }
                        },
                        "scheduledFor": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Optional per-platform scheduled time override. When omitted, the top-level scheduledFor is used."
                        },
                        "platformSpecificData": {
                          "oneOf": [
                            {
                              "$ref": "#/components/schemas/TwitterPlatformData"
                            },
                            {
                              "$ref": "#/components/schemas/ThreadsPlatformData"
                            },
                            {
                              "$ref": "#/components/schemas/FacebookPlatformData"
                            },
                            {
                              "$ref": "#/components/schemas/InstagramPlatformData"
                            },
                            {
                              "$ref": "#/components/schemas/LinkedInPlatformData"
                            },
                            {
                              "$ref": "#/components/schemas/PinterestPlatformData"
                            },
                            {
                              "$ref": "#/components/schemas/YouTubePlatformData"
                            },
                            {
                              "$ref": "#/components/schemas/GoogleBusinessPlatformData"
                            },
                            {
                              "$ref": "#/components/schemas/TikTokPlatformData"
                            },
                            {
                              "$ref": "#/components/schemas/TelegramPlatformData"
                            },
                            {
                              "$ref": "#/components/schemas/SnapchatPlatformData"
                            },
                            {
                              "$ref": "#/components/schemas/RedditPlatformData"
                            },
                            {
                              "$ref": "#/components/schemas/BlueskyPlatformData"
                            },
                            {
                              "$ref": "#/components/schemas/DiscordPlatformData"
                            },
                            {
                              "$ref": "#/components/schemas/SlackPlatformData"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "scheduledFor": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When to publish. Required unless `publishNow` is true, `queuedFromProfile` is set, or the post is a draft. An ISO 8601 value with a `Z` or offset (`2026-01-15T10:00:00Z`, `2026-01-15T11:00:00+01:00`) is taken as-is; a value without one (`2026-01-15T10:00:00` or `2026-01-15 10:00`) is read as local time in `timezone`. A value already in the past is published synchronously in the same request. Ignored when `publishNow` is true."
                  },
                  "publishNow": {
                    "type": "boolean",
                    "default": false,
                    "description": "Publish to every platform synchronously in this request instead of scheduling; the response then carries each platform result and `platformPostUrl`, with HTTP 207 when some platforms failed. Takes precedence over `scheduledFor`; ignored when `isDraft` is true."
                  },
                  "isDraft": {
                    "type": "boolean",
                    "default": false,
                    "description": "When true, saves the post as a draft. When none of scheduledFor, publishNow, or queuedFromProfile are provided, the post defaults to draft automatically."
                  },
                  "dryRun": {
                    "type": "boolean",
                    "default": false,
                    "description": "TikTok only. Preview whether each `tiktok` entry in `platforms` could publish right now under the TikTok Direct Post daily limits, without creating, scheduling or publishing anything: no post is persisted and no upload slot is claimed, so it can be repeated freely. The request still goes through auth, the payment gate and body validation, then returns HTTP 200 with `{ dryRun: true, canPublish, tiktok: [...] }` instead of 201. Only `tiktok` entries are evaluated; other platforms in the body are ignored, and a body with no `tiktok` entry is rejected with 400 `invalid_field_value` on `platforms`. An entry with `platformSpecificData.tiktokSettings.draft: true` (Creator Inbox upload) is not subject to the limit and always reports `canPublish: true`. Accounts connected through the TikTok for Business app do not go through these limits at all and also always report `canPublish: true`, so on those accounts a dry run confirms the request is well-formed rather than gating it."
                  },
                  "timezone": {
                    "type": "string",
                    "default": "UTC",
                    "description": "IANA timezone (`Europe/Madrid`, `America/New_York`) used to interpret a `scheduledFor` (root or per-platform) that carries no `Z` or offset. Has no effect on values that already carry one. An unknown name returns 400 when `scheduledFor` is set."
                  },
                  "tags": {
                    "type": "array",
                    "description": "Tags/keywords. YouTube constraints: each tag max 100 chars, combined max 500 chars, duplicates auto-removed.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "hashtags": {
                    "type": "array",
                    "description": "Stored for reference only. Hashtags are NOT automatically appended to the caption when publishing. Include hashtags directly in the content field (platforms like Instagram only support hashtags as caption text). For YouTube keywords, use the tags field instead.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "mentions": {
                    "type": "array",
                    "description": "Stored for reference only. This field does NOT automatically create @mentions when publishing. For LinkedIn @mentions, use the /v1/accounts/{accountId}/linkedin-mentions endpoint to resolve profile URLs to URNs, then embed the returned mentionFormat directly in the post content field.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "crosspostingEnabled": {
                    "type": "boolean",
                    "default": true,
                    "description": "Stored on the post and echoed back on reads. Publishing does not branch on it: every entry in `platforms` is published regardless, so treat it as a label for your own tooling."
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Free-form key/value pairs of your own, stored on the post and returned on reads and in webhook payloads. Zernio also writes the bookkeeping keys `usageCounted`, `usageRefunded` and `hidden` into this object; do not set them, and they are stripped from webhook payloads."
                  },
                  "tiktokSettings": {
                    "$ref": "#/components/schemas/TikTokPlatformData",
                    "description": "Root-level TikTok settings applied to the TikTok platforms sent in the same request. Merged into each platform's platformSpecificData, with platform-specific settings taking precedence."
                  },
                  "facebookSettings": {
                    "$ref": "#/components/schemas/FacebookSettings",
                    "description": "Root-level Facebook settings applied to the Facebook platforms sent in the same request. Merged into each platform's platformSpecificData.facebookSettings, with platform-specific settings taking precedence."
                  },
                  "recycling": {
                    "$ref": "#/components/schemas/RecyclingConfig"
                  },
                  "queuedFromProfile": {
                    "type": "string",
                    "description": "Profile ID to schedule via queue. When provided without scheduledFor, the post is auto-assigned to the next available slot. Do not call /v1/queue/next-slot and use that time in scheduledFor, as that bypasses queue locking."
                  },
                  "queueId": {
                    "type": "string",
                    "description": "Specific queue ID to use when scheduling via queue.\nOnly used when queuedFromProfile is also provided.\nIf omitted, uses the profile's default queue.\n"
                  }
                }
              },
              "examples": {
                "twitterArticle": {
                  "summary": "Publish a long-form X Article",
                  "description": "Creates an X Article draft and publishes it. This normally makes two\nbillable X API calls at $0.010 each ($0.020 total). The account must\nbe eligible for X Articles (X Premium+). Article media is supplied as\npublic URLs; Zernio uploads it to X and builds the native media shape.\n",
                  "value": {
                    "platforms": [
                      {
                        "platform": "twitter",
                        "accountId": "64e1f0a9e2b5af0012ab34cd",
                        "platformSpecificData": {
                          "article": {
                            "title": "Building a better publishing workflow",
                            "mode": "publish",
                            "cover": {
                              "url": "https://cdn.example.com/article-cover.jpg"
                            },
                            "content_state": {
                              "blocks": [
                                {
                                  "type": "header-one",
                                  "text": "A reliable publishing workflow"
                                },
                                {
                                  "type": "unstyled",
                                  "text": "Long-form publishing should be observable. Read the implementation notes.",
                                  "inline_style_ranges": [
                                    {
                                      "offset": 0,
                                      "length": 9,
                                      "style": "bold"
                                    }
                                  ],
                                  "entity_ranges": [
                                    {
                                      "key": 0,
                                      "offset": 52,
                                      "length": 20
                                    }
                                  ]
                                },
                                {
                                  "type": "atomic",
                                  "text": " ",
                                  "entity_ranges": [
                                    {
                                      "key": 1,
                                      "offset": 0,
                                      "length": 1
                                    }
                                  ]
                                }
                              ],
                              "entities": [
                                {
                                  "key": "0",
                                  "value": {
                                    "type": "link",
                                    "mutability": "mutable",
                                    "data": {
                                      "url": "https://example.com/implementation-notes"
                                    }
                                  }
                                },
                                {
                                  "key": "1",
                                  "value": {
                                    "type": "image",
                                    "mutability": "immutable",
                                    "data": {
                                      "url": "https://cdn.example.com/workflow.png",
                                      "caption": "The publishing stages"
                                    }
                                  }
                                }
                              ]
                            }
                          }
                        }
                      }
                    ],
                    "publishNow": true
                  }
                },
                "twitterArticleDraft": {
                  "summary": "Save an X Article as a platform draft",
                  "description": "Creates only the X Article draft ($0.010) and does not publish it publicly.",
                  "value": {
                    "platforms": [
                      {
                        "platform": "twitter",
                        "accountId": "64e1f0a9e2b5af0012ab34cd",
                        "platformSpecificData": {
                          "article": {
                            "title": "Draft product update",
                            "mode": "draft",
                            "content_state": {
                              "blocks": [
                                {
                                  "type": "unstyled",
                                  "text": "This Article is ready for final review."
                                }
                              ],
                              "entities": []
                            }
                          }
                        }
                      }
                    ],
                    "publishNow": true
                  }
                },
                "facebookDraft": {
                  "summary": "Facebook draft post (visible in Publishing Tools)",
                  "value": {
                    "content": "Draft post for review before publishing",
                    "platforms": [
                      {
                        "platform": "facebook",
                        "accountId": "64e1f0a9e2b5af0012ab34cd"
                      }
                    ],
                    "publishNow": true,
                    "facebookSettings": {
                      "draft": true
                    }
                  }
                },
                "facebookCarousel": {
                  "summary": "Facebook multi-link carousel post",
                  "description": "Posts a 2-10 card carousel where each image has its own click-through link\nand optional headline. mediaItems and carouselCards must have the same\nlength, in the same order. Images only (no video cards).\n",
                  "value": {
                    "content": "Check out our new inventory",
                    "mediaItems": [
                      {
                        "url": "https://cdn.example.com/car-1.jpg",
                        "type": "image"
                      },
                      {
                        "url": "https://cdn.example.com/car-2.jpg",
                        "type": "image"
                      },
                      {
                        "url": "https://cdn.example.com/car-3.jpg",
                        "type": "image"
                      }
                    ],
                    "platforms": [
                      {
                        "platform": "facebook",
                        "accountId": "64e1f0a9e2b5af0012ab34cd"
                      }
                    ],
                    "publishNow": true,
                    "facebookSettings": {
                      "carouselLink": "https://example.com/inventory",
                      "carouselCards": [
                        {
                          "link": "https://example.com/inventory/car-1",
                          "name": "2024 Sedan",
                          "description": "Low miles"
                        },
                        {
                          "link": "https://example.com/inventory/car-2",
                          "name": "2023 SUV",
                          "description": "Certified pre-owned"
                        },
                        {
                          "link": "https://example.com/inventory/car-3",
                          "name": "2024 Truck",
                          "description": "Loaded"
                        }
                      ]
                    }
                  }
                },
                "facebookTextBackground": {
                  "summary": "Facebook colored-background text post",
                  "description": "Renders the post as large text on a Facebook-defined colored background.\nText-only: mediaItems and carouselCards are rejected, and contentType\nmust not be story or reel.\n",
                  "value": {
                    "content": "We just shipped something big.",
                    "platforms": [
                      {
                        "platform": "facebook",
                        "accountId": "64e1f0a9e2b5af0012ab34cd"
                      }
                    ],
                    "publishNow": true,
                    "facebookSettings": {
                      "textFormatPresetId": "1881421442117417"
                    }
                  }
                },
                "recyclingPost": {
                  "summary": "Post with weekly recycling and content variations",
                  "value": {
                    "content": "Check out our evergreen guide!",
                    "platforms": [
                      {
                        "platform": "twitter",
                        "accountId": "64e1f0a9e2b5af0012ab34cd"
                      }
                    ],
                    "scheduledFor": "2025-06-01T10:00:00Z",
                    "recycling": {
                      "gap": 2,
                      "gapFreq": "week",
                      "expireCount": 6,
                      "contentVariations": [
                        "Check out our evergreen guide!",
                        "Don't miss our essential guide!",
                        "Our most popular guide, updated!"
                      ]
                    }
                  }
                },
                "tiktokPhotoCarousel": {
                  "summary": "TikTok photo carousel (Creator Inbox draft)",
                  "description": "Sends photos to TikTok Creator Inbox as a draft. The creator receives an inbox\nnotification and completes the post via TikTok's editing flow. Uses draft: true\nwhich maps to TikTok API post_mode MEDIA_UPLOAD. Note: publish_type is not a\nsupported field; use draft instead.\n",
                  "value": {
                    "content": "Check out these photos!",
                    "mediaItems": [
                      {
                        "type": "image",
                        "url": "https://example.com/photo1.jpg"
                      },
                      {
                        "type": "image",
                        "url": "https://example.com/photo2.jpg"
                      }
                    ],
                    "platforms": [
                      {
                        "platform": "tiktok",
                        "accountId": "64e1f0a9e2b5af0012ab34cd"
                      }
                    ],
                    "tiktokSettings": {
                      "draft": true,
                      "privacyLevel": "PUBLIC_TO_EVERYONE",
                      "allowComment": true,
                      "photoCoverIndex": 0,
                      "autoAddMusic": false,
                      "contentPreviewConfirmed": true,
                      "expressConsentGiven": true
                    }
                  }
                },
                "tiktokPhotoDirect": {
                  "summary": "TikTok photo carousel (direct publish)",
                  "description": "Publishes photos directly to TikTok. With draft omitted or false, the post is\npublished immediately via TikTok API post_mode DIRECT_POST.\n",
                  "value": {
                    "content": "Check out these photos!",
                    "mediaItems": [
                      {
                        "type": "image",
                        "url": "https://example.com/photo1.jpg"
                      },
                      {
                        "type": "image",
                        "url": "https://example.com/photo2.jpg"
                      }
                    ],
                    "platforms": [
                      {
                        "platform": "tiktok",
                        "accountId": "64e1f0a9e2b5af0012ab34cd"
                      }
                    ],
                    "tiktokSettings": {
                      "privacyLevel": "PUBLIC_TO_EVERYONE",
                      "allowComment": true,
                      "photoCoverIndex": 0,
                      "autoAddMusic": false,
                      "contentPreviewConfirmed": true,
                      "expressConsentGiven": true
                    }
                  }
                },
                "tiktokVideo": {
                  "summary": "TikTok video post (direct publish)",
                  "value": {
                    "content": "New video is live!",
                    "mediaItems": [
                      {
                        "type": "video",
                        "url": "https://example.com/video.mp4"
                      }
                    ],
                    "platforms": [
                      {
                        "platform": "tiktok",
                        "accountId": "64e1f0a9e2b5af0012ab34cd"
                      }
                    ],
                    "tiktokSettings": {
                      "privacyLevel": "PUBLIC_TO_EVERYONE",
                      "allowComment": true,
                      "allowDuet": true,
                      "allowStitch": true,
                      "commercialContentType": "none",
                      "contentPreviewConfirmed": true,
                      "expressConsentGiven": true
                    }
                  }
                },
                "tiktokVideoDraft": {
                  "summary": "TikTok video post (Creator Inbox draft)",
                  "description": "Sends a video to TikTok Creator Inbox as a draft. Video drafts use a dedicated\nTikTok endpoint (/v2/post/publish/inbox/video/init/) that only accepts source_info,\nso post_info fields (privacyLevel, allowComment, etc.) are set by the creator\nduring TikTok's editing flow.\n",
                  "value": {
                    "content": "New video draft!",
                    "mediaItems": [
                      {
                        "type": "video",
                        "url": "https://example.com/video.mp4"
                      }
                    ],
                    "platforms": [
                      {
                        "platform": "tiktok",
                        "accountId": "64e1f0a9e2b5af0012ab34cd"
                      }
                    ],
                    "tiktokSettings": {
                      "draft": true,
                      "contentPreviewConfirmed": true,
                      "expressConsentGiven": true
                    }
                  }
                },
                "multiPlatform": {
                  "summary": "Multi-platform post (X + LinkedIn)",
                  "value": {
                    "content": "We just launched our new product!",
                    "mediaItems": [
                      {
                        "type": "image",
                        "url": "https://example.com/launch.jpg"
                      }
                    ],
                    "platforms": [
                      {
                        "platform": "twitter",
                        "accountId": "64e1f0a9e2b5af0012ab34cd"
                      },
                      {
                        "platform": "linkedin",
                        "accountId": "64e1f0a9e2b5af0012ab34ef"
                      }
                    ],
                    "scheduledFor": "2024-11-01T10:00:00Z",
                    "timezone": "America/New_York"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A dryRun preview (TikTok only): nothing was created. Deliberately carries no numeric\ncap detail, only a per-account go/no-go and a reason.\n\nThe schema is a union only so generated clients can type both success shapes of this\noperation: a 200 is always the dry-run verdict, and a created post is always a 201.\n",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/TikTokDryRunVerdict"
                    },
                    {
                      "$ref": "#/components/schemas/PostCreateResponse"
                    }
                  ]
                }
              }
            }
          },
          "201": {
            "description": "Post created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostCreateResponse"
                },
                "examples": {
                  "scheduled": {
                    "summary": "Scheduled post (URLs populated after publish time)",
                    "value": {
                      "post": {
                        "_id": "65f1c0a9e2b5af0012ab34cd",
                        "title": "Launch post",
                        "content": "We just launched!",
                        "status": "scheduled",
                        "scheduledFor": "2024-11-01T10:00:00Z",
                        "timezone": "UTC",
                        "platforms": [
                          {
                            "platform": "twitter",
                            "accountId": {
                              "_id": "64e1f0...",
                              "platform": "twitter",
                              "username": "@acme",
                              "displayName": "Acme Corp",
                              "isActive": true
                            },
                            "status": "pending"
                          }
                        ]
                      },
                      "message": "Post scheduled successfully"
                    }
                  },
                  "immediatePublish": {
                    "summary": "Immediate post with publishNow=true (URLs included)",
                    "value": {
                      "post": {
                        "_id": "65f1c0a9e2b5af0012ab34cd",
                        "title": "Launch post",
                        "content": "We just launched!",
                        "status": "published",
                        "publishedAt": "2024-11-01T10:00:05Z",
                        "timezone": "UTC",
                        "platforms": [
                          {
                            "platform": "twitter",
                            "accountId": {
                              "_id": "64e1f0a9e2b5af0012ab34de",
                              "platform": "twitter",
                              "username": "@acmecorp",
                              "displayName": "Acme Corporation",
                              "isActive": true
                            },
                            "status": "published",
                            "publishedAt": "2024-11-01T10:00:05Z",
                            "platformPostId": "1852634789012345678",
                            "platformPostUrl": "https://twitter.com/acmecorp/status/1852634789012345678"
                          },
                          {
                            "platform": "linkedin",
                            "accountId": {
                              "_id": "64e1f0a9e2b5af0012ab34ef",
                              "platform": "linkedin",
                              "username": "acme-corporation",
                              "displayName": "Acme Corporation",
                              "isActive": true
                            },
                            "status": "published",
                            "publishedAt": "2024-11-01T10:00:06Z",
                            "platformPostId": "urn:li:share:7123456789012345678",
                            "platformPostUrl": "https://www.linkedin.com/feed/update/urn:li:share:7123456789012345678"
                          }
                        ]
                      },
                      "message": "Post published successfully"
                    }
                  },
                  "queueScheduled": {
                    "summary": "Post scheduled via queue (using queuedFromProfile)",
                    "value": {
                      "post": {
                        "_id": "65f1c0a9e2b5af0012ab34cd",
                        "content": "Scheduled via queue!",
                        "status": "scheduled",
                        "scheduledFor": "2024-11-01T09:00:00Z",
                        "timezone": "America/New_York",
                        "queuedFromProfile": "64f0a1b2c3d4e5f6a7b8c9d0",
                        "queueId": "64f0a1b2c3d4e5f6a7b8c9d1",
                        "platforms": [
                          {
                            "platform": "linkedin",
                            "accountId": {
                              "_id": "64e1f0...",
                              "platform": "linkedin",
                              "username": "acme-corp",
                              "displayName": "Acme Corp",
                              "isActive": true
                            },
                            "status": "pending"
                          }
                        ]
                      },
                      "message": "Post scheduled successfully"
                    }
                  }
                }
              }
            }
          },
          "207": {
            "description": "The post was created, but the inline publish (`publishNow: true`, or a `scheduledFor` that is already due) did not fully succeed.\n\n**207 is a 2xx status.** `fetch(...).ok` is `true` and axios' default `validateStatus` resolves, so a client that only checks for success will read this as a published post. Branch on the status code explicitly.\n\nTell the outcomes apart with `post.status`:\n- `partial` - at least one platform published and at least one failed. Per-platform detail is in `platformResults` and in `post.platforms[]`.\n- `failed` - no platform published. Terminal; nothing will be retried. Read `platforms[].errorMessage`, `platforms[].errorCategory` and `platforms[].errorSource` to decide whether the caller, the platform or Zernio must act.\n- `scheduled` - every platform hit a transient error and was reset to `pending`. Zernio retries automatically. This is **not** a failure and must not be surfaced to an end user as one.\n\nA publish attempt that aborted before it started (for example the post was already being processed) reports none of the three: `post.status` is whatever it already was and `platformResults` is absent. Read `error` and `post.platforms[]`, which is always present.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostPublishIncompleteResponse"
                },
                "examples": {
                  "allPlatformsFailed": {
                    "summary": "Every platform failed (post.status is failed, terminal)",
                    "value": {
                      "post": {
                        "_id": "6a9e43f7fd28fe46ce033d98",
                        "content": "We just launched!",
                        "status": "failed",
                        "platforms": [
                          {
                            "platform": "facebook",
                            "status": "failed",
                            "errorMessage": "Facebook needs you to confirm your identity before you can publish as this Page. Open the Facebook mobile app, go to this Page, and complete the identity confirmation, then try again.",
                            "errorCategory": "platform_rejected",
                            "errorSource": "platform"
                          }
                        ]
                      },
                      "message": "Post created but publishing failed",
                      "error": "All platforms failed",
                      "platformResults": [
                        {
                          "platform": "facebook",
                          "status": "failed",
                          "error": "Facebook needs you to confirm your identity before you can publish as this Page. Open the Facebook mobile app, go to this Page, and complete the identity confirmation, then try again."
                        }
                      ]
                    }
                  },
                  "temporaryErrorsWillRetry": {
                    "summary": "Transient errors (post.status is scheduled, Zernio retries)",
                    "value": {
                      "post": {
                        "_id": "6a9e43f7fd28fe46ce033d99",
                        "content": "We just launched!",
                        "status": "scheduled",
                        "platforms": [
                          {
                            "platform": "instagram",
                            "status": "pending"
                          }
                        ]
                      },
                      "message": "Post created but publishing failed",
                      "error": "Publishing encountered temporary errors. The post will be retried automatically.",
                      "platformResults": [
                        {
                          "platform": "instagram",
                          "status": "pending",
                          "error": null
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden. Distinguish by the `code` field:\n- `ACCOUNT_DISCONNECTED`: a target account exists but its platform connection is no longer active (token expired or revoked, or the account was disconnected). Reconnect the account, then refresh account IDs from `GET /v1/accounts` (accounts report their connection state via `isActive`). The disconnect itself is also emitted as the `account.disconnected` webhook event.\n- `ACCOUNT_NOT_ENABLED_FOR_POSTING`: a target account was connected for ads only (`enabled: false`) and cannot be posted to. Connect it as a posting account (it then counts as a connected account), then refresh account IDs from `GET /v1/accounts`.\n- `PROFILE_OVER_LIMIT`: a target account belongs to a profile beyond the plan's profile limit.\n- No `code`: a target `accountId` does not belong to the authenticated user (or is outside the API key's profile scope).\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Account 6a0f6d2e520992756d96bb6c (facebook \"My Page\") is disconnected and cannot be posted to. Facebook tokens expired. Please reconnect your Facebook account. After reconnecting, refresh your account IDs from GET /v1/accounts."
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "ACCOUNT_DISCONNECTED",
                        "ACCOUNT_NOT_ENABLED_FOR_POSTING",
                        "PROFILE_OVER_LIMIT"
                      ],
                      "description": "Stable machine-readable cause. Absent for ownership failures."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Duplicate content detected. Returned when the requested post matches an existing one on `(platform, accountId, content-hash)` within the last 24 hours, AND the request was NOT an `x-request-id` retry of an in-flight call. Distinct from same-`x-request-id` retries (which return HTTP 200 with the original post; see operation description for the idempotency contract).\n\nBody fields:\n- `error`: human-readable message\n- `details.accountId`: the account that already has this content\n- `details.platform`: the platform that already has this content\n- `details.existingPostId`: Zernio `_id` of the original post\n\nTo intentionally re-post identical content within 24h, vary the content fingerprint (change the caption, swap a media item, or use a different account). To avoid 409s caused by retry loops, set a unique `x-request-id` per logical request. See `parameters.x-request-id` above.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "This exact content is already scheduled, publishing, or was posted to this account within the last 24 hours."
                    },
                    "details": {
                      "type": "object",
                      "properties": {
                        "accountId": {
                          "type": "string"
                        },
                        "platform": {
                          "type": "string"
                        },
                        "existingPostId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Possible causes: API rate limit, velocity limit (25 posts/hour per account), account cooldown, or daily platform limits.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "description": "Additional context about the rate limit"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds until the rate limit resets (for API rate limits)",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The rate limit ceiling",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in current window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds since epoch) when the next slot frees up in the sliding window",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/v1/posts/{postId}": {
      "get": {
        "x-resource-group": "publishing",
        "operationId": "getPost",
        "tags": [
          "Posts"
        ],
        "summary": "Get post",
        "description": "Fetch a single post by ID. For published posts, this returns platformPostUrl for each platform.\n",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostGetResponse"
                },
                "examples": {
                  "scheduledPost": {
                    "summary": "Scheduled post (pending)",
                    "value": {
                      "post": {
                        "_id": "65f1c0a9e2b5af0012ab34cd",
                        "title": "Launch post",
                        "content": "We just launched!",
                        "status": "scheduled",
                        "scheduledFor": "2024-11-01T10:00:00Z",
                        "platforms": [
                          {
                            "platform": "twitter",
                            "accountId": {
                              "_id": "64e1f0...",
                              "platform": "twitter",
                              "username": "@acme",
                              "displayName": "Acme Corp",
                              "isActive": true
                            },
                            "status": "pending"
                          }
                        ]
                      }
                    }
                  },
                  "publishedPost": {
                    "summary": "Published post with platformPostUrl",
                    "value": {
                      "post": {
                        "_id": "65f1c0a9e2b5af0012ab34cd",
                        "title": "Launch post",
                        "content": "We just launched!",
                        "status": "published",
                        "publishedAt": "2024-11-01T10:00:05Z",
                        "platforms": [
                          {
                            "platform": "twitter",
                            "accountId": {
                              "_id": "64e1f0a9e2b5af0012ab34de",
                              "platform": "twitter",
                              "username": "@acmecorp",
                              "displayName": "Acme Corporation",
                              "isActive": true
                            },
                            "status": "published",
                            "publishedAt": "2024-11-01T10:00:05Z",
                            "platformPostId": "1852634789012345678",
                            "platformPostUrl": "https://twitter.com/acmecorp/status/1852634789012345678"
                          },
                          {
                            "platform": "linkedin",
                            "accountId": {
                              "_id": "64e1f0a9e2b5af0012ab34ef",
                              "platform": "linkedin",
                              "username": "acme-corporation",
                              "displayName": "Acme Corporation",
                              "isActive": true
                            },
                            "status": "published",
                            "publishedAt": "2024-11-01T10:00:06Z",
                            "platformPostId": "urn:li:share:7123456789012345678",
                            "platformPostUrl": "https://www.linkedin.com/feed/update/urn:li:share:7123456789012345678"
                          }
                        ]
                      }
                    }
                  },
                  "failedPost": {
                    "summary": "Failed post with error details",
                    "value": {
                      "post": {
                        "_id": "65f1c0a9e2b5af0012ab34cd",
                        "content": "This post failed to publish",
                        "status": "failed",
                        "platforms": [
                          {
                            "platform": "instagram",
                            "accountId": {
                              "_id": "64e1f0a9e2b5af0012ab34de",
                              "platform": "instagram",
                              "username": "acmecorp",
                              "isActive": false
                            },
                            "status": "failed",
                            "errorMessage": "Instagram access token has expired. Please reconnect your account.",
                            "errorCategory": "auth_expired",
                            "errorSource": "user"
                          }
                        ]
                      }
                    }
                  },
                  "partialPost": {
                    "summary": "Partial success (some platforms failed)",
                    "value": {
                      "post": {
                        "_id": "65f1c0a9e2b5af0012ab34cd",
[...]
